/*
first color: #212529 [dark gray]
second color: #fed136 [yellow]
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    
    background-color: #eee;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 0; 
    padding-left: 0;
}
p {
    font-size: x-large;
}

/****** start navbar *******/
.navbar {
    background-color: transparent;
    padding: 1.5rem 3rem;
}
/*navbar colored bg appears when scroll down*/
.navbar.scroll {
    background-color: #212529;
    transition: all 0.5s ease-out;
    border-bottom: 2px solid #fed136;
    z-index: 100;
}
.navbar img {
    height: 70px;
    margin-left: 15px;
}
.navbar-collapse {
    flex-grow: inherit;
}
.navbar-toggler {
    background-color: #fed136;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    cursor: pointer;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fed136;
    border-bottom: 1px solid #fed136;
}
/*hover effect*/
.navbar-light .navbar-nav .nav-link:hover {
    color: #fed136;
    border-bottom: 1px solid #fed136;
    transition: all 0.6s ease-out;
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 1rem;
    }
}
/****** end navbar *******/

/****** start header #fed136*******/
.headerContainer {
    background-color: #fed136;
    background-image: linear-gradient(30deg, #fed136 50%, #212529  50%);
}
.header {
    width: 90%;
    height: 75vh;
    background-image: url(./img/header-bg.jpg);
    background-size: cover;
    margin: 20px auto;
}
.headerText span {
    color: #fed136;
}
.headerText p:first-child {
    font-size: 30px;
    letter-spacing: 2px;
}
.headerText .mainTitle {
    font-size: 60px;
    font-weight: bolder;
    letter-spacing: 2px;
}
/****** end header *******/

/****** start about us section *******/
h1 {
    color: #fed136;
}
h1::after {
    display: block;
    height: 2px;
    background-color: #fed136;
    content: ' ';
    width: 100px;
    margin: 30px auto;  
}
.about {
    background: #212529;
    background: linear-gradient(to bottom, #212529 0%, #212529 50%, #FED136 100%);
}
.about p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    margin: 10px;
}
/****** end about us section *******/

/****** start team section *******/
.team {
    background-color: #fed136;
    background-image: linear-gradient(30deg, #fed136 30%, #4e5255  20%, #212529 50%);
}
.teamImg {
    width: 350px;
    height: 500px;
    border-top: 7px double #fed136;
    border-right: 7px double #fed136;
    
}
.borderRight {
    border-right: 2px solid #fed136;
}
.teamExtention {
    width: 100%;
    height: 300px;
    background-image: url('./img/image001.jpg');
    background-color: #fed136;
    background-blend-mode: darken;
    background-size: cover;
    position: relative;
}
.teamExtention::before {
    content: '';
    width: 100%;
    height: 40px;
    background-color: #fed136;
    position: absolute;
    top: 0;
    left: 0;
}
.teamScale {
    width: 100%;
    position: relative;
}
.teamScale::before {
    content: '';
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.topTalent {
    width: 100%;
    position: relative;
}
.topTalent::before {
    content: '';
    width: 100%;
    height: 50px;
    background-color: #354d71;
    position: absolute;
    top: 0;
    left: 0;
}
/****** end team section *******/

/****** start services section *******/
.serviceSecondPart {
    background-color: #fed136;
}
/****** end services section *******/

/****** start clients section *******/
.clients {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url('./img/clients/austin-distel-jpHw8ndwJ_Q-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken;
}
.clients img {
    width: 150px;
    height: 120px;
}
/****** end clients section *******/

/****** start contact section *******/
.contact {
    width: 100%;
    background-image: url('./img/map-image.png');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    border-top: 5px solid #fed136;
}
/****** end contact section *******/

/****** start footer section *******/
footer {
    background-color: #fed136;
    color: #212529;
}
/****** end footer section *******/

@media (max-width: 576px) {
    .navbar {
        padding: 0;
        padding-right: 1.5rem;
        background-color: #212529;
        transition: all 0.5s ease-out;
        border-bottom: 2px solid #fed136;
        z-index: 100;
    }
    .navbar img {
        height: 60px;
        margin-left: 0;
    }
    .headerText p:first-child {
        font-size: 20px;
        margin-top: 20%;
    }
    .headerText .mainTitle {
        font-size: 35px;
    }
    .teamImg {
        width: inherit;
        height: inherit;
        border-top: none;
        border-right: none;
        clip-path: polygon(52% 18%, 100% 8%, 100% 80%, 52% 90%, 0 81%, 0 8%);
        
    }
}